name: WakaTime Stats

on:
  schedule:
    - cron: "30 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SECTION_NAME: waka
          SHOW_LOC_CHART: False
          SHOW_SHORT_INFO: False
          SHOW_TOTAL_CODE_TIME: False
          SHOW_LINES_OF_CODE: False
          SHOW_PROFILE_VIEWS: False
          SHOW_PROJECTS: True
