name: WakaTime Stats

on:
  schedule:
    - cron: "30 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SECTION_NAME: waka
          SHOW_TIME: "True"
          SHOW_TOTAL: "True"
          SHOW_LANGUAGE: "True"
          LANG_COUNT: 8
          SHOW_PROFILE_VIEWS: "False"
          SHOW_GITHUB_STATS: "False"
          SHOW_LINES_OF_CODE: "False"
